@import "compass";
@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_awesome";
// @import "compass_twitter_bootstrap_responsive";
@import "animate";
@import "../../components/select2/select2.css";

@import "common/header";
@import "modules/account/account_invites";

// @import "common/security/login/_navigation"

body {
  padding: 0 0 0 0;
}

.navbar .nav > li,
.navbar .brand {
  line-height: 32px;
}

.navbar .nav .dropdown-toggle .caret {
  margin-top: 16px;
}

.alert {
  .error {
    @include animate(shake, 1s, 0s);
  }
}

.modal {
  @include animate(bounceInDown, 1s, 0s);
}

.avatar {
  &.avatar-default {
    > span {
    background: #ccc;
    display: inline-block;
    width: 32px; height: 32px;
    text-align: center;
    &:hover {
      background: #ccc !important;
    }
  }
  }

}

.account {

  input[type=file] {
    display: none;
  }

  .avatar {
      cursor: pointer;
      height: 200px;
      width: 200px;
    &.avatar-default {
      > span {
        display: block;
        color: #999;
        width: 200px; height: 200px;
        background: #ccc;
      }
      font-size: 200px;
      padding: 20px;
      text-align: center;
    }
  }
}


/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  -o-transition: width 500ms;
  transition: width 500ms;

  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#loading-bar .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 100;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}


@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}





html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
html, button, input, select, textarea {
    font:normal 100% 'PT Sans', MyriadPro, Helvetica, sans-serif;
}
body{
    background-color:#fff;
    color:#1d1d1b;
    font:normal 100% 'PT Sans', MyriadPro, Helvetica, sans-serif;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.main_container{
    display: block;
    position: relative;
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
}
.head_block{
    width: 100%;
    height:100px;
    border-bottom: 2px solid #d5e5f1;
}
.select_container{
    width: 100%;
    height:100px;
}
.content_container{
    width: 100%;
    background: #f5f9fb;
    padding: 60px 0 30px;
    border-bottom: 2px solid #d5e5f1;
}
.footer_container{
    width: 100%;
    height:50px;
    line-height: 50px;
}
.insidecomtainer{
    width: 980px;
    margin: 0 auto;
}
.signin_inputrow a{
    text-decoration: none;
    float:left;
}
.signin_inputrow input {
    height: 21px;
}
.singin_block{
    float:right;
    width:510px;
    right:0;
    top:0;
    margin-top:10px;
}
.signin_inputrow:after{
    content:"";
    position: relative;
    display: block;
    clear:both;
    height:0;
    line-height: 0;
    width:100%;
}
.singin_block input.signin_input{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 10px 3px;
    border: 2px solid #d5e5f1;
    width:160px;
    float:left;
    margin-right:10px;
    margin-top:0;
}
.logo{
    height: 95px;
}
#signin_btn{
    content:"";
    float:left;
    text-decoration: none;
    top:0;
    left:0;
    height:32px;
    width:114px;
    background-image:url(../images/enter_button.png);
    background-size: 80px;
    background-repeat:no-repeat;
    background-position-x:0px;
    background-position-y:0px;
}
#signin_btn:hover{
    background-image:url(../images/enter_button.png);
    background-position-x:0px;
    background-position-y:-32px;
}
#remmemberme{
    width: 18px;
    height: 18px;
    position:absolute;
    top: 2px;
    margin: 0;
}
.signin_linkrow{
    margin-top: 4px;
    position:relative;
    height: 30px;
    font-size: 95%;
}
.signin_linkrow label, .signin_linkrow a{
    color: #c2c2c2;
    text-decoration: none;
    margin-right: 30px;
    line-height: 20px;
}
.signin_linkrow label{
    margin-left: 20px;
}
.signin_linkrow a{
    position: absolute;
    left:195px;
}
.signin_linkrow a:hover{
    text-decoration: underline;
}
.content_container .gamer_block{
    visibility: hidden;
}
.developer_block,.gamer_block{
    position: relative;
    display:block;
    width: 50%;
    float:left;
    text-align:center;
}
#developer_head_link, #gamer_head_link{
    position: relative;
    display:block;
    width:150px;
    text-decoration: none;
    color:#b3b2b2;
    font-size:1.6em;
    font-style:normal;
    font-weight:normal;
    margin:10px auto;
    text-align:center;
}
#developer_head_link.selected,#gamer_head_link.selected{
    color:#1d1d1b;
}
#developer_head_link:before{
     position: relative;
     content:"";
     display:block;
     width:50px;
     height:50px;
     background-image:url(../images/developer-unselected.png);
     background-size: 50px;
     background-repeat:no-repeat;
     background-position-x:0px;
     background-position-y:0px;
     margin: 0 auto 4px;
 }
#developer_head_link.selected:before{
    background-image:url(../images/developer-selected.png);
}
#gamer_head_link:before{
    position: relative;
    content:"";
    display:block;
    width:50px;
    height:50px;
    background-image:url(../images/developer-unselected.png);
    background-size: 50px;
    background-repeat:no-repeat;
    background-position-x:0px;
    background-position-y:0px;
    margin: 0 auto 4px;
}
#gamer_head_link.selected:before{
    background-image:url(../images/developer-selected.png);
}
.join_input{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 6px 15px 5px;
    border: 2px solid #d5e5f1;
    width:220px;
    margin-right:10px;
    margin-top:0;
    margin-bottom:15px;
    font-size:1.2em;

}
input.join_input:-moz-placeholder{color:#1d1d1b}
input.join_input::-moz-placeholder{color:#1d1d1b}
input.join_input:-ms-input-placeholder{color:#1d1d1b}
input.join_input::-webkit-input-placeholder {color:#1d1d1b}
input.join_input {
    padding: 6px 15px 5px;
}
.join_btn{
    position: relative;
    content:"";
    display:block;
    width:75px;
    height:38px;
    background-image:url(../images/join_button.png);
    background-size: 75px;
    background-repeat:no-repeat;
    background-position-x:0px;
    background-position-y:0px;
    margin: 10px 100px 4px 90px;
}
.join_btn:hover{
    background-position-y:-38px;
}
.termofuse_block{
    display:block;
    position:relative;
    margin:12px auto 10px;
    width:254px;
}
.termofuse{
    display: block;
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
}
.bottom_label:before{
    content:'';
    position:relative;
    display: block;
    width: 100%;
    height: 0;
    clear:both;
    line-height: 0;
}
.bottom_label{
    display: block;
    position: relative;
    text-align: center;
    font-size:2em;
    padding-top: 50px;
    clear:both;

}
h1{
    font-size:1.5em;/* 24px/16px */
    font-style:normal;
    font-weight:normal;

}

#dev_form {
    width: 40%;
    padding-left: 115px;
    padding-right: 20px;
}
#dev_form input {
    height: 25px;
    font-size: 1.2em;
}
#gamer_form {
    width: 40%;
    padding-left: 600px;
}
#gamer_form input {
    height: 25px;
    font-size: 1.2em;
}
label.accept-terms {
    margin-left: 50px;
}

label#rem_me {
    width: 150px;
    margin-right: 10px;
}
input.join_input {
    border-color: #d5e5f1;
}
:checked :focus {
    outline: 1px solid blue;
    background-color: blue;
}
