<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">{{ app.name }} <em>{{ app.version }}</em></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#">Home</a></li>
        </ul>
        <div class="pull-right">
        <ul class="nav" data-ng-hide="!user">
          <li><a href="">{{ user.username }}</a></li>
        </ul>
        <ul class="nav nav-context nav-user" data-ng-repeat="item in navUser">
          <li><a href="{{ item.href }}">{{ item.name }}</a></li>
        </ul>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
