<div class="account invites">
  <div class="row-fluid">
    <div class="span3">
      <div class="well well-small">
        <ul class="nav nav-list">
          <li class="nav-header">My Account</li>
          <li><a href="/#/developer/account/settings">Account Settings</a></li>
          <li class="nav-header">Profile</li>
          <li><a href="">Edit Profile</a></li>
          <li><a href="">View Public Profile</a></li>
          <li class="nav-header">Invites ({{ user.inviteCount }})</li>
          <li class="active"><a href="/#/developer/account/invites">Invite People</a></li>
        </ul> 
      </div>

    </div>
    <div class="span9">


      <h2>Invites</h2>
      <form class="form" name="invitesForm">
        <fieldset>
          <legend>Invite by Email</legend>
          <p>You can invite people by sending them an email.  You have <span class="badge badge-info">{{ user.inviteCount }}</span> invites remaning.<p>
          <div class="well well-large">
            <h4>Send Email Invites</h4>

            <input class="input-xxlarge" type="text" ui-select2="{tags:[]}" ng-model="select2" data-placeholder="Enter some email addresses..." />
            <span class="help-block">Just hit enter after each email address and hit send when you're done.</span>
            <button class="btn btn-primary">Send</button>
          </div>

        </fieldset>
      </form>
      <form class="form">
        <fieldset>
          <legend>Generate Invite Code</legend>
          <p>You can invite people by generating an invite code and sending the code to them yourself</p>
          <div class="well well-large">
            <h4>Active Invites</h4>
            <p><em>You have 3 active invites</em></p>
            <p><a class="btn btn-mini" ng-click="generateInviteCode()">Generate a new Invite Code</a></p>
            <ul class="codes">
              <li><span class="label label-info">A23DSfGSD</span> <i class="icon-share pull-right"></i></li>
              <li><span class="label label-info">A23DSfGSD</span></li>
              <li><span class="label label-info">A23DSfGSD</span></li>
            </ul>

          </div>

          <hr />

          <h4>Invite History</h4>
          <invite-history invites="invites"></invite-history>
        </div>
      </div>

    </div>

