 <form data-login-form="">
  <fieldset>
    <div class="modal-header">
      <h2>Login</h2>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <div class="controls">
         <input name="username" id="imvgm-reg-frm-username" data-ng-model="login.username" type="text" placeholder="Username"  data-ng-required="" data-remote-form-component="" />
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
         <input name="password" id="imvgm-reg-frm-password" data-ng-model="login.password" type="text" placeholder="Password"  data-ng-required="" data-remote-form-component="" />
         <span class="help-block"><a href="#/password/reset">Forgotten your password?</a><br /><a href="#/password/reset">Create an Account</a></span>
         <span class="help-block"></span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="control-group">
        <div class="controls">
         <div class="pull-right"><button class="btn" data-ng-click="submit(login)">Log In</button> or <a href="/">Cancel</a></div>
         <div class="pull-left"></div>

        </div>
      </div>
    </div>
  </fieldset>
</form>


