    <div class="head_block">
        <div class="insidecomtainer">
            <a href="/"><img src="img/gloliquid_logo.png" alt="Gloliquid" title="Gloliquid" class="logo"></a>

            <div class="singin_block">
                <div class="signin_inputrow">
                    <input type="text" value="" placeholder="Email"
                           onfocus="if(this.placeholder=='Email')this.placeholder='';"
                           onblur="if(this.placeholder=='')this.placeholder='Email';" class="signin_input">
                    <input type="text" value="" placeholder="Password"
                           onfocus="if(this.placeholder=='Password')this.placeholder='';"
                           onblur="if(this.placeholder=='')this.placeholder='Password';" class="signin_input">
                    <a href="#" onclick="return false;" id="signin_btn">&nbsp;</a>
                </div>
                <div class="signin_linkrow">
                    <a href="#" onclick="return false;" id="reset_password">Reset Password</a>
                    <input type="checkbox" id="remmemberme" name="remmemberme"><label id="rem_me" for="remmemberme">Remmember Me</label>


                </div>
            </div>
        </div>

    </div>
