<h3>Password Reset</h3>
<div ng-hide="resetToken">
  <form class="form" ng-hide="emailSent">
    <div class="control-group">
      <div class="controls">
        <input name="email" data-ng-model="user.email" type="text" placeholder="Email" required autofocus />
      </div>
    </div>
    <div class="control-group">
      <button class="btn btn-primary" ng-click="sendPasswordResetEmail()">Request Password Reset</button>
    </div>
  </form>
  <div ng-hide="!emailSent">
    <p>We've sent you an email with further instructions.  Check your email to complete the process</p>
  </div>
</div>

<div ng-hide="!resetToken">
  <div class="alert alert-error" ng-hide="!error">
      <h4>{{ error.title }}</h4> {{ error.msg }}
  </div>
  <div ng-hide="!success" class="alert alert-success">
    <p><strong>Success!</strong> You have successfully reset your password.</p>
    <p>Click <a href="" ng-click="showLogin()">here to login</a></p>
  </div>
  <form class="form">
  <div ng-hide="success">
    <div class="control-group">
      <div class="controls">
        <input name="password" data-ng-model="user.password" type="password" placeholder="New Password" required autofocus />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input name="password_confirm" data-ng-model="user.password_confirm" type="password" placeholder="New Password (again)" required  />
      </div>
    </div>
    <div class="control-group">
      <button class="btn btn-primary" ng-click="resetPassword()">Reset Password</button>
    </div>
  </div>
</form>
</div>
