<form>
	<fieldset>
    <legend><h2>Login</h2></legend>
		<div class="control-group">
      <div class="controls">
			 <input name="username" id="imvgm-reg-frm-username" data-ng-model="login.username" type="text" placeholder="Username" />
      </div>
		</div>
		<div class="control-group">
      <div class="controls">
			 <input name="password" id="imvgm-reg-frm-password" data-ng-model="login.password" type="text" placeholder="Password" />
      </div>
		</div>
		<div class="control-group">
      <div class="controls">
			 <button class="btn" data-ng-click="login()">Log In</button>
      </div>
		</div>
	</fieldset>
</form>
