<form name="imvgmRegistrationForm" data-remote-form="">
  <fieldset>
    <div class="alert" data-ng-show="!imvgmRegistrationForm.$valid">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Uh Oh!</strong> Best check yo self, you're not looking too good.
    </div>
    <legend><h2>newUser</h2></legend>

    <div class="control-group" data-ng-class="{error: !imvgmRegistrationForm.role.$valid}">
      <div class="controls">
        <label for="imvgm-reg-frm-fullname">I am a:</label>
        <select data-ui-select2="" name="role" id="imvgm-reg-frm-role" data-ng-model="newUser.role" data-ng-required="" data-remote-form-component="" type="text" placeholder="Please Choose" style="min-width: 220px">
          <option></option>
          <option value="gamer">Gamer</options>
          <option value="developer">Game Developer</option>
        </select>
        <span class="help-inline" data-ng-show="!imvgmRegistrationForm.role.$valid && imvgmRegistrationForm.role.$error.server">Please select your Account Type.</span>
      </div>
    </div>
    <div class="control-group" data-ng-class="{error: !imvgmRegistrationForm.fullname.$valid}">
      <div class="controls">
        <!-- <label for="imvgm-reg-frm-fullname">Full Name</label> -->
        <input name="fullname" id="imvgm-reg-frm-fullname" data-remote-form-component="" data-ng-model="newUser.fullname" type="text" placeholder="Full Name" />
        <span class="help-inline" data-ng-show="!imvgmRegistrationForm.fullname.$valid && imvgmRegistrationForm.fullname.$error.server">Please enter your Full Name.</span>
      </div>
    </div>
    <div class="control-group" data-ng-class="{error: !imvgmRegistrationForm.username.$valid}">
      <div class="controls">
        <!-- <label for="imvgm-reg-frm-username">Username</label> -->
        <input name="username" id="imvgm-reg-frm-username" data-remote-form-component="" data-ng-model="newUser.username" type="text" placeholder="Username" />
        <span class="help-inline" data-ng-show="!imvgmRegistrationForm.username.$valid && imvgmRegistrationForm.username.$error.server">{{serverValidationError['username']}}</span>
      </div>
    </div>
    <div class="control-group" data-ng-class="{error: !imvgmRegistrationForm.email.$valid}">
      <div class="controls">
        <!-- <label for="imvgm-reg-frm-email">Email</label> -->
        <input name="email" id="imvgm-reg-frm-email" data-email data-remote-form-component="" data-ng-model="newUser.email" type="text" placeholder="Email Address" />
        <span class="help-inline" data-ng-show="!imvgmRegistrationForm.email.$valid">{{serverValidationError['email']}}</span>
      </div>
    </div>
    <div class="control-group" data-ng-class="{error: !imvgmRegistrationForm.password.$valid}">
      <div class="controls">
        <!-- <label for="imvgm-reg-frm-password">Password</label> -->
        <input name="password" id="imvgm-reg-frm-password" data-remote-form-component="" data-ng-model="newUser.password" type="password" placeholder="Password" />
        <span class="help-inline" data-ng-show="!imvgmRegistrationForm.password.$valid && imvgmRegistrationForm.password.$error.server">Please enter a strong password.</span>
      </div>
    </div>
    <div class="control-group" data-ng-class="{error: !imvgmRegistrationForm.gender.$valid}">
      <div class="controls">
        <label for="imvgm-reg-frm-fullname">I am:</label>
        <select data-ui-select2="" name="gender" id="imvgm-reg-frm-gender" data-ng-model="newUser.gender" data-ng-required="" data-remote-form-component="" type="text" placeholder="Please Choose" style="min-width: 220px">
          <option></option>
          <option value="male">Male</options>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        <span class="help-inline" data-ng-show="!imvgmRegistrationForm.gender.$valid && imvgmRegistrationForm.gender.$error.server">Please select your Gender Type.</span>
      </div>
    </div>
    <div class="control-group" data-ng-class="{error: !imvgmRegistrationForm.dob.$valid}">
      <div class="controls">
        <label for="imvgm-reg-frm-dob">Date of Birth</label>
        <input name="dob" id="imvgm-reg-frm-dob" data-ng-model="newUser.dob" data-remote-form-component="" type="date" />
        <span class="help-inline" data-ng-show="!imvgmRegistrationForm.dob.$valid && imvgmRegistrationForm.dob.$error.server">Please enter your Date of Birth.</span>
      </div>
    </div>
    <div class="control-group" data-ng-class="{error: !imvgmRegistrationForm.country.$valid}" >
      <div class="controls">
        <!-- <label for="imvgm-reg-frm-country">Country</label> -->
        <input data-ui-select2="countriesSelectOptions" name="country" id="imvgm-reg-frm-country" data-ng-model="newUser.country" data-remote-form-component="" type="hidden" placeholder="Country" />

        <span class="help-inline" data-ng-show="!imvgmRegistrationForm.country.$valid && imvgmRegistrationForm.country.$error.server">Please enter your Country.</span>
      </div>

    </div>
    <div class="control-group" data-ng-class="{error: !imvgmRegistrationForm.platforms.$valid}">
      <div class="controls">
        <!-- <label for="imvgm-reg-frm-platforms">I Own</label> -->
        <input data-ui-select2="platformSelectOptions" multiple name="platforms" id="imvgm-reg-frm-platforms" data-ng-model="newUser.platforms" data-remote-form-component="" type="hidden" placeholder="I Own... (Platforms)" />
      </div>
    </div>
    <div class="control-group" data-ng-class="{error: !imvgmRegistrationForm.play.$valid}">
      <div class="controls">
        <!-- <label for="imvgm-reg-frm-play">I Play</label> -->
        <input data-ui-select2="genresSelectOptions" multiple name="genres" id="imvgm-reg-frm-genres" data-ng-model="newUser.genres" data-remote-form-component="" placeholder="I Play... (Genres)" type="hidden" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn" data-ng-click="register(newUser)" data-ng-disabled="imvgmRegistrationForm.$pristine">Create Account</button>
      </div>
    </div>
  </fieldset>
</form>
